{{ partial "header" . }}

<main>
  <div
    class="intro"
    style="/* word-wrap: break-word;  */ margin-left: 20%; margin-right: 20%"
  >
    <!-- {{ with .Site.Params.profilePic }} <img class="profile" src="{{ . }}"> {{ end }} -->
    <!-- <img class="profile" src="toptal_profile_pic.jpeg"> -->
    <!-- <h1>{{ .Site.Title }}</h1> -->
    <h4>{{ markdownify .Site.Params.Description }}</h4>
    {{ with .Content }}
    <div class="homepage-content text-justify">{{ . }}</div>
    {{ end }} <br /><br />
    Last posts {{ range first 10 .Site.RegularPages }} {{ if .Params.selected}}
    <br />{{.Date | dateFormat "Jan 2, 2006"}}
    <a href="{{ .Permalink }}"> {{.Title}}</a>
    {{ end }} {{ end }}
  </div>
</main>

{{ partial "footer" . }}
